<div class="large-12 field yellow">
	<!-- -Header -->
	<%- include partials/header.ejs %>

	<div class="clear"></div>
	
	<!-- -Menu -->
	<%- include partials/menu.ejs %>
</div>

 <!-- Cronograma -->
<%- include partials/schedule.ejs %>

<!-- Regulamento -->
<%- include partials/rules.ejs %>

<!-- Inscricoes -->
<%- include partials/registration.ejs %>

<!-- Logos -->
<%- include partials/partners.ejs %>